div {
    background-color: #F6F6C9;
}

.top-container {
    background-color: #dff4fc;
    ;
}

.middle-container {
    height: 200px;
    width: 200px;
    background-color: #4FA095;
}

.bottom-container {
    height: 200px;
    width: 200px;
    background-color: #153462;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 0;
    padding: 0;
}

.pro {
    text-decoration: unset;
}